mixin heading(type, data)
  if (type === 'h1')
    h1 #{data}
  if (type === 'h2')
    h2 #{data}
  if (type === 'h3')
    h3 #{data}
  if (type === 'h4')
    h4 #{data}
  if (type === 'h5')
    h5 #{data}
  if (type === 'h6')
    h6 #{data}
